::-webkit-scrollbar {
  display: none;
}
body {
  background-color: white;
  font-family: "Roboto Condensed", sans-serif;
}
a {
  color: white;
  text-decoration: none;
}
nav {
  border-radius: 0 0 2rem 0;
  display: inline;
}
.navbar {
  font-size: 3rem;
  color: white;
  background-color: #343a40;
  box-sizing: border-box;
}
.brand {
  color: white;
  font-family: "Economica", sans-serif;
}
.logout {
  font-family: "Economica", sans-serif;
  font-size: 1.2rem;
  margin-right: 1rem;
}
.logout:hover {
  color: rgb(196, 53, 53) !important;
}
.container-fluid {
  position: relative;
  padding: 0%;
}
.show {
  display: block;
}
.wrapper {
  padding: 0%;
  margin: 0%;
  height: 100vh;
  background-color: #343a40;
}
.sideMenu {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 200px;
}
.userDetail {
  color: whitesmoke;
  font-family: "Economica", sans-serif;
}
.sideMenuIcon {
  font-size: 2rem;
  vertical-align: middle;
  height: 32px;
  width: 32px;
}
.text {
  margin-left: 1rem;
  font-size: 1rem;
}
/* .profile-container {
  padding: 0.5rem;
} */
img.img-circle {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  border: 2px solid grey;
  background-color: white;
  overflow: hidden;
}
.badgeContainer {
  font-size: 0.8rem;
  margin-top: -20%;
  margin-left: 26%;
}
.navbar-nav {
  width: 100%;
}

.nav-link {
  color: white;
  margin-left: 1rem;
}

.active {
  background-color: gray;
  border-right: 0.3rem solid white;
  /* border-top: 10px solid transparent;
  border-right: 5px solid white;
  border-bottom: 10px solid transparent; */
}
.nav-item:hover {
  background-color: gray;
}
.nav-link:hover {
  color: white;
}
.mainContent {
  position: relative;
  padding: 1rem;
  height: 100vh;
  width: 100%;
  overflow-y: scroll;
  background-color: white;
  border-radius: 2rem 0 0 0;
}
.customCard {
  height: 100%;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 2px 7px 15px -3px gray;
}

@media (max-width: 700px) {
  .sideMenu {
    width: 3.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .nav-link {
    margin: 0;
    text-align: center;
  }
  .text {
    display: none;
  }
  .mainContent {
    width: 100%;
    padding: none;
    overflow: scroll;
  }
  .badgeContainer {
    font-size: 0.5rem;
    margin-top: -20%;
    margin-left: 26%;
  }
  img.img-circle {
    width: 3rem;
    height: 3rem;
  }
}
